/pyenergyplus
/.idea
/ep_trivial
api_data.csv
/0resources/*.csv
/0resources/EPTEMP-00000001

*.bnd
*.edd
*.eio
*.err
*.eso
*.mtd
*.mtr
*.rvaudit
*.sql
*.svg
*.html
*.mdd
*.rdd
*.shd
*.epJSONout
*.audit
*.dbg
*.end
*.idd
*.wrl
sac_pendulum.zip
